[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Creating my first repo
[access "refs/*"]
	owner = group user/sunith719
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sunith719
	label-Verified = -1..+1 group user/sunith719
	push = group user/sunith719
	read = group user/sunith719
	rebase = group user/sunith719
	removeReviewer = group user/sunith719
	submit = group user/sunith719
[access "refs/heads/*"]
	create = group user/sunith719
	push = +force group user/sunith719
	pushMerge = group user/sunith719
	read = group user/sunith719
[access "refs/tags/*"]
	push = group user/sunith719
	push = +force group user/sunith719
